js/

Areas/KBB.Trident.Web.Areas.Classifieds/Scripts/
Areas/KBB.Trident.Web.Areas.Classifieds/js/
!Areas/KBB.Trident.Web.Areas.Classifieds/js/classifieds.listings.js
Areas/KBB.Trident.Web.Areas.Classifieds/Scripts/
Areas/KBB.Trident.Web.Areas.Classifieds/js/
Areas/KBB.Trident.Web.Areas.Dealers/
Areas/KBB.Trident.Web.Areas.MyKBB/js/
Areas/KBB.Trident.Web.Areas.PartnerChallenge/js/
Areas/KBB.Trident.Web.Areas.Prototype/Scripts/
Areas/KBB.Trident.Web.Areas.Tablet/Scripts/
Areas/KBB.Trident.Web.Areas.ToyotaHub/js/

etc/designs/cs/
linkstorms/
node_modules/
vidLoader/
Views/

Scripts/Ads/gptAsyncInit.js

Scripts/bootstrap/*

Scripts/cms/*

Scripts/Plugins/*

Scripts/MicrosoftMvcValidation.js
Scripts/MicrosoftMvcValidation.debug.js
Scripts/MicrosoftMvcAjax.js
Scripts/MicrosoftMvcAjax.debug.js
Scripts/MicrosoftAjax.js
Scripts/MicrosoftAjax.debug.js

Scripts/iscroll.js
Scripts/iscroll-lite.js

**/backbone.js
**/underscore.js
**/jquery**.js

**/**.min.js

**/swfobject.js
**/jwLongTailVideoController.js
